<h1 class="title animated tada">{{title}} </h1>
<ul class="animated flipInX" *ngIf="mode == 'list'">
  <p *ngIf="todos.length === 0"> <small> Nothing to Do! </small></p>
  <li *ngFor="let todo of todos"> {{todo.toString()}} | 
    <button *ngIf="!todo.done" (click)="markAsDone(todo)"> CONCLUDED </button> | 
    <button *ngIf="todo.done" (click)="markAsUndone(todo)"> REMAKE </button>   
    <button (click)="remove(todo)"> REMOVE </button></li>
</ul>

<div id="modal" *ngIf="mode=='add'" class="animated flipInX">
  <form [formGroup] = "form">
    <fieldset>
      <label for=""> Task to Do! </label>
      <input type="text" placeholder="to do name" maxlength="60" formControlName="title">
      <small class="danger" *ngIf="form.controls.title.invalid && !form.controls.title.pristine"> This place required to a 3 at 60 characters.</small>
      <button class="button"   [disabled] = "form.controls.title.invalid" (click)="add()"> Save </button>
    </fieldset>
  </form>
</div>

<button class="add-button animated fadeInUp button" (click)="changeMode('add')" *ngIf="mode=='list'">
  <i class="fas fa-plus-circle"></i>
  Add Task
</button>

<button class="add-button animated fadeInUp button" (click)="changeMode('list')" *ngIf="mode=='add'">
  <i class="fas fa-times"></i>
  Cancel
</button>